*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    color: whitesmoke;
}

.header{

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{

    font-size:25px;
    text-decoration: none;
    color:beige;
    font-weight: 600;
    transition: transform .5s;
}

.logo:hover{

    transform:scale(1.5)
}

.navbar a{

    font-size: 18px;
    color:beige;
    text-decoration: none;
    font-weight: 350;
    margin-left: 20px;
   
}


.navbar a:hover,
.navbar a.active {

    color:#00abf0;
}

.Homepage{
    
    height: 100vh;
    background: url(images/uoc.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:10%;
}

.Home-Content{

    background-color: transparent;
    max-width: 600px;
    color:beige;
    
}

.Home-Content h1{

    font-size:54px;
    font-weight:700;

}

.Home-Content h3{

    font-size:28px;
    font-weight:600;
    color:#00abf0;
    margin-top:25px;
}

.Home-Content p{

    font-size:16px;
    margin-top:20px;
    margin-right: 0px;
    margin-bottom: 40px;
    color:beige;
}
.Home-Content .buttons{

    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background-color: transparent;
    margin-top: 5px;
    
}

.buttons a{

    display:inline-flex;
    justify-content: center;
    align-items:center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size:20px;
    color:#081b29;
    text-decoration: none;
    font-weight: 550;
    letter-spacing: 1px;

}



.buttons a:nth-child(2){

    background: transparent;
    color:#00abf0;
}

.icons{

    position:absolute;
    bottom:40px;
    width: 160px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.icons a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius:50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
}