*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    color: whitesmoke;
}

.header{

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{

    font-size:25px;
    text-decoration: none;
    color:beige;
    font-weight: 600;
    transition: transform .5s;
}

.logo:hover{

    transform:scale(1.5)
}

.navbar a{

    font-size: 18px;
    color:beige;
    text-decoration: none;
    font-weight: 350;
    margin-left: 20px;
    transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {

    color:#00abf0;
}

.Aboutme{
    
    height: 100vh;
    background: url(images/uocreverse.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:10%;

}

.aboutmeContent{

    width: 700;
    color:beige;
}

.aboutmeContent h2{

    margin-left:700px;
    margin-right: 0px;
    margin-bottom: 40px;
    font-size:40px;
    font-weight:700;
    color:#00abf0
}

.aboutmeContent p{
    
    margin-left:650px;
    font-size:20px;
    font-weight:450;
    color:beige;
    margin-top:25px;
}

.icons{

    position:absolute;
    margin-left: 625px;
    bottom:40px;
    width: 160px;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.icons a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius:50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
}